[core]
    editor = vim
[user]
    name = Daniel Tsai
    email = galoistsai@gmail.com
[color]
    ui = auto
[alias]
    logk = log --decorate --graph --oneline
[commit]
    template = /home/tsaicw/.git-template
